<div *ngIf="accessToken">
    AccessToken={{accessToken}}
</div>

<hr/>

<div *ngIf="accessTokenDecoded">
    AccessTokenDecoded={{accessTokenDecoded}}
</div>

<hr/>

<div *ngIf="idToken">
    IdToken={{idToken}}
</div>

<hr/>

<div *ngIf="idTokenDecoded">
    IdTokenDecoded={{idTokenDecoded}}
</div>

<hr/>

<button class="btn btn-default" (click)="login()">
    Login
</button>

<button class="btn btn-default" (click)="logout()">
    Logout
</button>

<hr/>

<button class="btn btn-default" (click)="hello()">
    Hello
</button>